.cover__link {
    display: flex;
    width: 100%;
    height: 740px;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-image: url(../../../image/поезда.png);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    height: 640px;}
}

@media screen and (max-width: 768px) {
  .cover__link {
    height: 480px;}
}


@media screen and (max-width: 450px) {
  .cover__link {
    height: 300px;}
}

@media screen and (max-width: 320px) {
  .cover__link {
    height: 200px;}
}

.cover__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 300ms ease-in-out;
  }
  
  .cover__link:hover:before {
    opacity: 0.8;
  }