.intro__list {
  margin-bottom: 33px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-bottom: 64px;
  }
}
